<div class="jumbotron">
    <div class="container mt-4">
        <h2 class="heading">Filtra Noticias por País y Categoría</h2>
        <div class="row mt-3">
            <div class="col-lg-8 offset-lg-2">
                <form (ngSubmit)="buscarNoticia()">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Categoría</label>
                        <select name="categoria" [(ngModel)]='categoriaSeleccionada' class="form-select form-select-lg">
                          <option [value]="categoria.value" *ngFor="let categoria of categorias" >{{categoria.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">País</label>
                        <select name="pais" [(ngModel)]="paisSeleccionado" class="form-select form-select-lg">
                          <option [value]="pais.value" *ngFor="let pais of paises">{{pais.nombre}}</option>
                         
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-2">Buscar</button>
                </form>
            </div>
        </div>
    </div>

</div>